{% if user_is_logged_in() %}
    <div id="wrap">
        <button type="button" class="btn-user">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
            <div class="accueil">
                <div id="user-img">
                    <a href="{{ path }}user/{{ userid }}"><img src="{{ picture }}" /></a></div>
                <div id="user-log">
                    <p><h3><span class="label label-success"><a href="{{ path }}user/{{ userid }}">{{ nom }} {{ prenom }}</a></span></h3></p>
                    <h3><span class="label label-warning"><a href="{{ path }}favoris-films">Mes Favoris</a></span></h3>
                    <h3><span class="label label-danger"><a href="{{ path }}user/logout">Deconnexion</a></span></h3>
                </div>
            </div>
    </div>

    {% else %}
        <div class="accueil-non">
            <ul id="user-con">
                <li><h3><span class="label label-success"><a href="{{ path }}user/register">Inscription</a></span></h3></li>
                <li><h3><span class="label label-warning"><a href="{{ path }}user/login">Connexion</a></span></h3></li>
            </ul>
        </div>
    {% endif %}
